{
    "$schema": "vscode://schemas/color-theme",
    "name": "Base16 {{scheme-name}}",
    "type": "dark",
    "colors": {
        // Contrast colors
        // "contrastActiveBorder": "#f00", //7
        // "contrastBorder": "#f00", //6

        // Base colors
        // "focusBorder": "#f00", //7
        "foreground": "#{{base05-hex}}", //5
        "widget.shadow": "#{{base00-hex}}", //0
        "selection.background": "#{{base0D-hex}}", //D
        "descriptionForeground": "#{{base03-hex}}", //3
        "errorForeground": "#{{base08-hex}}", //8
        "icon.foreground": "#{{base04-hex}}", //4

        // Window border
        // "window.activeBorder": "#f00",
        // "window.inactiveBorder": "#f00",

        // Text colors
        "textBlockQuote.background": "#{{base01-hex}}", //1
        "textBlockQuote.border": "#{{base0D-hex}}", //D
        "textCodeBlock.background": "#{{base00-hex}}", //0
        "textLink.activeForeground": "#{{base0C-hex}}", //C
        "textLink.foreground": "#{{base0D-hex}}", //D
        "textPreformat.foreground": "#{{base0D-hex}}", //D
        "textSeparator.foreground": "#f0f",

        // Button control
        "button.background": "#{{base0D-hex}}88", //1
        "button.foreground": "#{{base07-hex}}", //7
        "button.hoverBackground": "#{{base0D-hex}}", //4
        "checkbox.background": "#{{base00-hex}}", //0
        "checkbox.foreground": "#{{base05-hex}}", //5
        // "checkbox.border": "#f00",

        // Dropdown control
        "dropdown.background": "#{{base00-hex}}", //0
        "dropdown.listBackground": "#{{base00-hex}}", //0
        // "dropdown.border": "#f00", //2
        "dropdown.foreground": "#{{base05-hex}}", //5

        // Input control
        "input.background": "#{{base00-hex}}", //0
        // "input.border": "#f00", //0
        "input.foreground": "#{{base05-hex}}", //5
        "input.placeholderForeground": "#{{base03-hex}}", //3
        "inputOption.activeBackground": "#{{base02-hex}}", //2
        "inputOption.activeBorder": "#{{base09-hex}}", //9
        "inputValidation.errorBackground": "#{{base08-hex}}", //8
        "inputValidation.errorForeground": "#{{base00-hex}}", //5
        "inputValidation.errorBorder": "#{{base08-hex}}", //8
        "inputValidation.infoBackground": "#{{base0D-hex}}", //D
        "inputValidation.infoForeground": "#{{base00-hex}}", //5
        "inputValidation.infoBorder": "#{{base0D-hex}}", //D
        "inputValidation.warningBackground": "#{{base0A-hex}}", //A
        "inputValidation.warningForeground": "#{{base00-hex}}", //5
        "inputValidation.warningBorder": "#{{base0A-hex}}", //A

        // Scroll bar control
        "scrollbar.shadow": "#{{base01-hex}}", //1
        "scrollbarSlider.activeBackground": "#{{base03-hex}}", //4
        "scrollbarSlider.background": "#{{base03-hex}}88", //2
        "scrollbarSlider.hoverBackground": "#{{base03-hex}}", //3

        // Badge
        "badge.background": "#{{base00-hex}}", //0
        "badge.foreground": "#{{base05-hex}}", //5

        // Progress bar
        "progressBar.background": "#{{base03-hex}}", //3

        // Lists and trees
        "list.activeSelectionBackground": "#{{base02-hex}}66", //2
        "list.activeSelectionForeground": "#{{base05-hex}}", //5
        "list.dropBackground": "#{{base02-hex}}6f", //7
        "list.focusBackground": "#{{base02-hex}}66", //2
        "list.focusForeground": "#{{base05-hex}}", //5
        "list.highlightForeground": "#{{base07-hex}}", //7
        "list.hoverBackground": "#{{base02-hex}}44", //3
        "list.hoverForeground": "#{{base05-hex}}", //5
        "list.inactiveSelectionBackground": "#{{base02-hex}}66", //2
        "list.inactiveSelectionForeground": "#{{base05-hex}}", //5
        "list.inactiveFocusBackground": "#{{base02-hex}}66", //2
        "list.invalidItemForeground": "#{{base08-hex}}", //8
        "list.errorForeground": "#{{base08-hex}}", //8
        "list.warningForeground": "#{{base0A-hex}}", //A
        "listFilterWidget.background": "#{{base00-hex}}", //0
        // "listFilterWidget.outline": "#f00",
        "listFilterWidget.noMatchesOutline": "#{{base08-hex}}", //8
        "list.filterMatchBackground": "#{{base02-hex}}66", //2
        // "list.filterMatchBorder": "#f00",
        "tree.indentGuidesStroke": "#{{base05-hex}}", //5

        // Activity bar
        "activityBar.background": "#{{base01-hex}}", //0
        "activityBar.dropBackground": "#{{base02-hex}}6f", //7
        "activityBar.foreground": "#{{base06-hex}}", //5
        "activityBar.inactiveForeground": "#{{base03-hex}}", //3
        // "activityBar.border": "#f00", //0
        "activityBarBadge.background": "#{{base0D-hex}}", //D
        "activityBarBadge.foreground": "#{{base00-hex}}", //7
        // "activityBar.activeBorder": "#f00",
        // "activityBar.activeBackground": "#{{base02-hex}}", //2

        // Side bar
        "sideBar.background": "#{{base00-hex}}", //1
        "sideBar.foreground": "#{{base05-hex}}", //5
        "sideBar.border": "#{{base01-hex}}", //1
        "sideBar.dropBackground": "#{{base02-hex}}6f", //2
        "sideBarTitle.foreground": "#{{base05-hex}}", //5
        "sideBarSectionHeader.background": "#{{base01-hex}}", //3
        "sideBarSectionHeader.foreground": "#{{base05-hex}}", //5
        // "sidebarSectionHeader.border": "#f00",

        //Minimap
        "minimap.findMatchHighlight": "#{{base0A-hex}}6f", //A
        "minimap.selectionHighlight": "#{{base02-hex}}6f", //2

        // Editor groups and tabs
        // Below is no longer supported as of 1.24
        "editorGroup.background": "#{{base00-hex}}", //0
        // Above is no longer supported as of 1.24
        // "editorGroup.border": "#f00",
        "editorGroup.dropBackground": "#{{base02-hex}}6f", //2
        "editorGroupHeader.noTabsBackground": "#{{base01-hex}}", //1
        "editorGroupHeader.tabsBackground": "#{{base01-hex}}", //1
        // "editorGroupHeader.tabsBorder": "#f00",
        "editorGroup.emptyBackground": "#{{base00-hex}}", //0
        // "editorGroup.focusedEmptyBorder": "#f00"
        "tab.activeBackground": "#{{base00-hex}}", //0
        "tab.unfocusedActiveBackground": "#{{base00-hex}}", //0
        "tab.activeForeground": "#{{base05-hex}}", //5
        // "tab.border": "#f00",
        // "tab.unfocusedActiveBorder": "#f00",
        // "tab.activeBorderTop": "#f00",
        // "tab.unfocusedActiveBorderTop": "#f00",
        "tab.inactiveBackground": "#{{base01-hex}}", //1
        "tab.inactiveForeground": "#{{base03-hex}}", //3
        "tab.unfocusedActiveForeground": "#{{base04-hex}}", //4
        "tab.unfocusedInactiveForeground": "#{{base03-hex}}", //3
        "tab.hoverBackground": "#{{base02-hex}}44", //2
        "tab.unfocusedHoverBackground": "#{{base02-hex}}44", //2
        // "tab.hoverBorder": "#f00",
        // "tab.unfocusedHoverBorder": "#f00",
        "tab.activeModifiedBorder": "#{{base0D-hex}}", //D
        "tab.inactiveModifiedBorder": "#{{base0D-hex}}", //D
        "tab.unfocusedActiveModifiedBorder": "#{{base0D-hex}}", //D
        "tab.unfocusedInactiveModifiedBorder": "#{{base0D-hex}}", //D
        "editorPane.background": "#{{base00-hex}}", //0

        // Editor colors
        "editor.background": "#{{base00-hex}}", //0
        "editor.foreground": "#{{base05-hex}}", //5
        "editorLineNumber.foreground": "#{{base03-hex}}", //3
        "editorLineNumber.activeForeground": "#{{base04-hex}}", //4
        // "editorCursor.background": "#f00",
        "editorCursor.foreground": "#{{base05-hex}}", //5
        "editor.selectionBackground": "#{{base02-hex}}", //2
        // "editor.selectionForeground": "#f00",
        "editor.inactiveSelectionBackground": "#{{base02-hex}}", //2
        "editor.selectionHighlightBackground": "#{{base01-hex}}", //1
        // "editor.selectionHighlightBorder": "#f00",
        "editor.wordHighlightBackground": "#{{base02-hex}}6f", //2
        // "editor.wordHighlightBorder": "#f00".
        "editor.wordHighlightStrongBackground": "#{{base03-hex}}6f", //3
        // "editor.wordHighlightStrongBorder": "#f00",
        "editor.findMatchBackground": "#{{base0A-hex}}6f", //A
        "editor.findMatchHighlightBackground": "#{{base09-hex}}6f", //9
        "editor.findRangeHighlightBackground": "#{{base01-hex}}6f", //1
        // "editor.findMatchBorder": "#f00",
        // "editor.findMatchHighlightBorder": "#f00",
        // "editor.findRangeHighlightBorder": "#f00",
        "editor.hoverHighlightBackground": "#{{base02-hex}}6f", //2
        "editor.lineHighlightBackground": "#{{base01-hex}}", //1
        // "editor.lineHighlightBorder": "#f00",
        "editorLink.activeForeground": "#{{base0D-hex}}", //D
        "editor.rangeHighlightBackground": "#{{base01-hex}}6f", //1
        // "editor.rangeHighlightBorder": "#f00",
        "editorWhitespace.foreground": "#{{base03-hex}}", //3
        "editorIndentGuide.background": "#{{base03-hex}}", //3
        "editorIndentGuide.activeBackground": "#{{base04-hex}}", //4
        "editorRuler.foreground": "#{{base03-hex}}", //3
        "editorCodeLens.foreground": "#{{base02-hex}}", //2

        // Lightbulb
        "editorLightBulb.foreground": "#{{base0A-hex}}", //A
        "editorLightBulbAutoFix.foreground": "#{{base0D-hex}}", //D

        "editorBracketMatch.background": "#{{base02-hex}}", //2
        // "editorBracketMatch.border": "#f00",
        // "editorError.border": "#f0f",

        // Overview ruler
        // "editorOverviewRuler.border": "#f00",
        "editorOverviewRuler.findMatchForeground": "#{{base0A-hex}}6f", //A
        "editorOverviewRuler.rangeHighlightForeground": "#{{base03-hex}}6f", //3
        "editorOverviewRuler.selectionHighlightForeground": "#{{base02-hex}}6f", //2
        "editorOverviewRuler.wordHighlightForeground": "#{{base07-hex}}6f", //7
        "editorOverviewRuler.wordHighlightStrongForeground": "#{{base0D-hex}}6f", //D
        "editorOverviewRuler.modifiedForeground": "#{{base0E-hex}}", //E
        "editorOverviewRuler.addedForeground": "#{{base0B-hex}}", //B
        "editorOverviewRuler.deletedForeground": "#{{base08-hex}}", //8
        "editorOverviewRuler.errorForeground": "#{{base08-hex}}", //8
        "editorOverviewRuler.warningForeground": "#{{base0A-hex}}", //A
        "editorOverviewRuler.infoForeground": "#{{base0C-hex}}", //C
        "editorOverviewRuler.bracketMatchForeground": "#{{base06-hex}}", //6

        // Errors and warnings
        "editorError.foreground": "#{{base08-hex}}", //8
        // "editorError.border": "",
        "editorWarning.foreground": "#{{base0A-hex}}", //A
        // "editorWarning.border": "#f00",
        "editorInfo.foreground": "#{{base0C-hex}}", //C
        // "editorInfo.border": "",
        "editorHint.foreground": "#{{base0D-hex}}", //D
        // "editorHint.border": "#f00",
        "problemsErrorIcon.foreground": "#{{base08-hex}}", //8
        "problemsWarningIcon.foreground": "#{{base0A-hex}}", //A
        "problemsInfoIcon.foreground": "#{{base0C-hex}}", //C

        // Unused source code
        // "editorUnnecessaryCode.border": "#f00",
        // "editorUnnecessaryCode.opacity": "#f00",

        // Gutter
        "editorGutter.addedBackground": "#{{base0B-hex}}", //B
        "editorGutter.background": "#{{base00-hex}}", //0
        "editorGutter.deletedBackground": "#{{base08-hex}}", //8
        "editorGutter.modifiedBackground": "#{{base0E-hex}}", //E
        "editorGutter.commentRangeForeground": "#{{base04-hex}}", //4

        // Diff editor colors
        "diffEditor.insertedTextBackground": "#{{base0B-hex}}20",
        // "diffEditor.insertedTextBorder": "#f00",
        "diffEditor.removedTextBackground": "#{{base08-hex}}20",
        // "diffEditor.removedTextBorder": "#f00",
        // "diffEditor.border": "#f00",

        // Editor widget colors
        "editorWidget.foreground": "#{{base05-hex}}", //5
        "editorWidget.background": "#{{base01-hex}}", //0
        // "editorWidget.border": "#f00",
        // "editorWidget.resizeBorder": "#f00",
        "editorSuggestWidget.background": "#{{base01-hex}}", //1
        // "editorSuggestWidget.border": "#f00",
        "editorSuggestWidget.foreground": "#{{base05-hex}}", //5
        "editorSuggestWidget.highlightForeground": "#{{base0D-hex}}", //D
        "editorSuggestWidget.selectedBackground": "#{{base02-hex}}", //2
        "editorHoverWidget.background": "#{{base00-hex}}", //1
        // "editorHoverWidget.border": "#f00",
        // "editorHoverWidget.statusBarBackground": "#f00",
        "debugExceptionWidget.background": "#{{base01-hex}}", //1
        // "debugExceptionWidget.border": "#f00",
        "editorMarkerNavigation.background": "#{{base01-hex}}", //1
        "editorMarkerNavigationError.background": "#{{base08-hex}}", //8
        "editorMarkerNavigationWarning.background": "#{{base0A-hex}}", //A
        "editorMarkerNavigationInfo.background": "#{{base0D-hex}}", //D

        // Peek view colors
        // "peekView.border": "#f00",
        "peekViewEditor.background": "#{{base01-hex}}", //1
        "peekViewEditorGutter.background": "#{{base01-hex}}", //1
        "peekViewEditor.matchHighlightBackground": "#{{base09-hex}}6f", //9
        // "peekViewEditor.matchHighlightBorder": "#f00",
        "peekViewResult.background": "#{{base00-hex}}", //0
        "peekViewResult.fileForeground": "#{{base05-hex}}", //5
        "peekViewResult.lineForeground": "#{{base03-hex}}", //3
        "peekViewResult.matchHighlightBackground": "#{{base09-hex}}6f", //9
        "peekViewResult.selectionBackground": "#{{base02-hex}}", //2
        "peekViewResult.selectionForeground": "#{{base05-hex}}", //5
        "peekViewTitle.background": "#{{base02-hex}}", //2
        "peekViewTitleDescription.foreground": "#{{base03-hex}}", //3
        "peekViewTitleLabel.foreground": "#{{base05-hex}}", //5

        // Merge conflicts
        "merge.currentContentBackground": "#{{base0D-hex}}40", //D
        "merge.currentHeaderBackground": "#{{base0D-hex}}40", //D
        "merge.incomingContentBackground": "#{{base0B-hex}}60", //B
        "merge.incomingHeaderBackground": "#{{base0B-hex}}60", //B
        // "merge.border": "#f00",
        // "merge.commonContentBackground": "#f00",
        // "merge.commonHeaderBackground": "#f00",
        "editorOverviewRuler.currentContentForeground": "#{{base0D-hex}}", //D
        "editorOverviewRuler.incomingContentForeground": "#{{base0B-hex}}", //B
        "editorOverviewRuler.commonContentForeground": "#{{base0F-hex}}", //F

        // Panel colors
        "panel.background": "#{{base00-hex}}", //0
        // "panel.border": "#f00",
        "panel.dropBackground": "#{{base01-hex}}6f", //1
        // "panelTitle.activeBorder": "#f00",
        "panelTitle.activeForeground": "#{{base05-hex}}", //5
        "panelTitle.inactiveForeground": "#{{base03-hex}}", //3
        // "panelInput.border": "#f00",

        // Preview
        // "imagePreview.border": "#f00",

        // Status bar colors
        "statusBar.background": "#{{base01-hex}}", //D
        "statusBar.foreground": "#{{base04-hex}}", //7
        // "statusBar.border": "#f00",
        "statusBar.debuggingBackground": "#{{base09-hex}}", //9
        "statusBar.debuggingForeground": "#{{base00-hex}}", //7
        // "statusBar.debuggingBorder": "",
        "statusBar.noFolderBackground": "#{{base01-hex}}", //E
        "statusBar.noFolderForeground": "#{{base04-hex}}", //7
        // "statusBar.noFolderBorder": "",
        "statusBarItem.activeBackground": "#{{base02-hex}}", //3
        "statusBarItem.hoverBackground": "#{{base02-hex}}88", //2
        "statusBarItem.prominentForeground": "#{{base00-hex}}", //7
        "statusBarItem.prominentBackground": "#{{base0E-hex}}", //E
        "statusBarItem.prominentHoverBackground": "#{{base08-hex}}", //8
        "statusBarItem.remoteBackground": "#{{base0D-hex}}", //B
        "statusBarItem.remoteForeground": "#{{base00-hex}}", //7

        // Title bar colors (macOS)
        "titleBar.activeBackground": "#{{base00-hex}}", //0
        "titleBar.activeForeground": "#{{base05-hex}}", //5
        "titleBar.inactiveBackground": "#{{base01-hex}}", //1
        "titleBar.inactiveForeground": "#{{base03-hex}}", //3
        // "titleBar.border": "#f00",

        // Menu Bar colors
        "menubar.selectionForeground": "#{{base05-hex}}", //5
        "menubar.selectionBackground": "#{{base01-hex}}", //1
        // "menubar.selectionBorder": "#f00",
        "menu.foreground": "#{{base05-hex}}", //5
        "menu.background": "#{{base01-hex}}", //1
        "menu.selectionForeground": "#{{base05-hex}}", //5
        "menu.selectionBackground": "#{{base02-hex}}", //2
        // "menu.selectionBorder": "#f00",
        "menu.separatorBackground": "#{{base07-hex}}", //7
        // "menu.border": "#f00",

        // Notification dialog colors
        // "notificationCenter.border": "",
        "notificationCenterHeader.foreground": "#{{base05-hex}}", //5
        "notificationCenterHeader.background": "#{{base01-hex}}", //1
        // "notificationToast.border": "",
        "notifications.foreground": "#{{base05-hex}}", //5
        "notifications.background": "#{{base01-hex}}", //2
        // "notifications.border": "",
        "notificationLink.foreground": "#{{base0D-hex}}", //D
        "notificationsErrorIcon.foreground": "#{{base08-hex}}", //8
        "notificationsWarningIcon.foreground": "#{{base0A-hex}}", //A
        "notificationsInfoIcon.foreground": "#{{base0D-hex}}", //D

        // Below is no longer supported as of 1.21
        "notification.background": "#{{base02-hex}}", //2
        "notification.foreground": "#{{base05-hex}}", //5
        "notification.buttonBackground": "#{{base0D-hex}}", //D
        "notification.buttonHoverBackground": "#{{base0D-hex}}44", //2
        "notification.buttonForeground": "#{{base07-hex}}", //7
        "notification.infoBackground": "#{{base0C-hex}}", //C
        "notification.infoForeground": "#{{base07-hex}}", //7
        "notification.warningBackground": "#{{base0A-hex}}", //A
        "notification.warningForeground": "#{{base07-hex}}", //7
        "notification.errorBackground": "#{{base08-hex}}", //8
        "notification.errorForeground": "#{{base07-hex}}", //7
        // Above is no longer supported as of 1.21

        // Extensions
        "extensionButton.prominentBackground": "#{{base0B-hex}}", //B
        "extensionButton.prominentForeground": "#{{base07-hex}}", //7
        "extensionButton.prominentHoverBackground": "#{{base02-hex}}", //2
        "extensionBadge.remoteBackground": "#{{base09-hex}}", //9
        "extensionBadge.remoteForeground": "#{{base07-hex}}", //7

        // Quick picker
        // "pickerGroup.border": "#f00",
        "pickerGroup.foreground": "#{{base03-hex}}", //3
        "quickInput.background": "#{{base01-hex}}", //1
        "quickInput.foreground": "#{{base05-hex}}", //5

        // Integrated terminal colors
        "terminal.background": "#{{base00-hex}}", //0
        "terminal.foreground": "#{{base05-hex}}", //5
        "terminal.ansiBlack": "#{{base00-hex}}", //0
        "terminal.ansiRed": "#{{base08-hex}}", //8
        "terminal.ansiGreen": "#{{base0B-hex}}", //B
        "terminal.ansiYellow": "#{{base0A-hex}}", //A
        "terminal.ansiBlue": "#{{base0D-hex}}", //D
        "terminal.ansiMagenta": "#{{base0E-hex}}", //E
        "terminal.ansiCyan": "#{{base0C-hex}}", //C
        "terminal.ansiWhite": "#{{base05-hex}}", //5
        "terminal.ansiBrightBlack": "#{{base03-hex}}", //3
        "terminal.ansiBrightRed": "#{{base08-hex}}", //8
        "terminal.ansiBrightGreen": "#{{base0B-hex}}", //B
        "terminal.ansiBrightYellow": "#{{base0A-hex}}", //A
        "terminal.ansiBrightBlue": "#{{base0D-hex}}", //D
        "terminal.ansiBrightMagenta": "#{{base0E-hex}}", //E
        "terminal.ansiBrightCyan": "#{{base0C-hex}}", //C
        "terminal.ansiBrightWhite": "#{{base07-hex}}", //7
        // "terminal.selectionBackground": "#f0f",
        // "terminalCursor.background": "#f0f",
        "terminalCursor.foreground": "#{{base05-hex}}", //5

        // Debug
        "debugToolBar.background": "#{{base01-hex}}", //1
        // "debugToolBar.border": "#f0f",
        // "editor.stackFrameHighlightBackground": "#f0f",
        // "editor.focusedStackFrameHighlightBackground": "#f0f",

        // Welcome page
        "welcomePage.background": "#{{base00-hex}}", //0
        "welcomePage.buttonBackground": "#{{base01-hex}}", //1
        "welcomePage.buttonHoverBackground": "#{{base02-hex}}", //2
        "walkThrough.embeddedEditorBackground": "#{{base00-hex}}", //0

        // Git colors
        "gitDecoration.modifiedResourceForeground": "#{{base0E-hex}}", //E
        "gitDecoration.deletedResourceForeground": "#{{base08-hex}}", //8
        "gitDecoration.untrackedResourceForeground": "#{{base0B-hex}}", //B
        "gitDecoration.ignoredResourceForeground": "#{{base03-hex}}", //3
        "gitDecoration.conflictingResourceForeground": "#{{base0A-hex}}", //A
        "gitDecoration.submoduleResourceForeground": "#{{base0F-hex}}", //F

        // Settings editor colors
        "settings.headerForeground": "#{{base05-hex}}", //5
        "settings.modifiedItemIndicator": "#{{base0D-hex}}", //D
        // Below was introduced temporarily in 1.26
        "settings.modifiedItemForeground": "#{{base0D-hex}}", //D
        // Above was introduced temporarily in 1.26
        "settings.dropdownBackground": "#{{base01-hex}}", //1
        "settings.dropdownForeground": "#{{base05-hex}}", //5
        // "settings.dropdownBorder": "",
        // "settings.dropdownListBorder": "",
        "settings.checkboxBackground": "#{{base01-hex}}", //1
        "settings.checkboxForeground": "#{{base05-hex}}", //5
        // "settings.checkboxBorder": "",
        "settings.textInputBackground": "#{{base01-hex}}", //1
        "settings.textInputForeground": "#{{base05-hex}}", //5
        // "settings.textInputBorder": "",
        "settings.numberInputBackground": "#{{base01-hex}}", //1
        "settings.numberInputForeground": "#{{base05-hex}}", //5
        // "settings.numberInputBorder": "",
        // "settings.inactiveSelectedItemBorder": "",

        // Breadcrumbs
        "breadcrumb.foreground": "#{{base05-hex}}", //5
        "breadcrumb.background": "#{{base00-hex}}", //1
        "breadcrumb.focusForeground": "#{{base06-hex}}", //6
        "breadcrumb.activeSelectionForeground": "#{{base07-hex}}", //7
        "breadcrumbPicker.background": "#{{base01-hex}}", //1

        // Snippets
        "editor.snippetTabstopHighlightBackground": "#{{base02-hex}}", //2
        // "editor.snippetTabstopHighlightBorder": "#f00",
        "editor.snippetFinalTabstopHighlightBackground": "#{{base03-hex}}", //3
        // "editor.snippetFinalTabstopHighlightBorder": "#f00",

        // Symbol Icons
        "symbolIcon.arrayForeground": "#{{base05-hex}}", //5
        "symbolIcon.booleanForeground": "#{{base09-hex}}", //9
        "symbolIcon.classForeground": "#{{base0A-hex}}", //A
        "symbolIcon.colorForeground": "#f0f",
        "symbolIcon.constantForeground": "#{{base09-hex}}", //9
        "symbolIcon.constructorForeground": "#{{base0D-hex}}", //D
        "symbolIcon.enumeratorForeground": "#{{base09-hex}}", //9
        "symbolIcon.enumeratorMemberForeground": "#{{base0D-hex}}", //D
        "symbolIcon.eventForeground": "#{{base0A-hex}}", //A
        "symbolIcon.fieldForeground": "#{{base08-hex}}", //8
        "symbolIcon.fileForeground": "#{{base05-hex}}", //5
        "symbolIcon.folderForeground": "#{{base05-hex}}", //5
        "symbolIcon.functionForeground": "#{{base0D-hex}}", //D,
        "symbolIcon.interfaceForeground": "#{{base0D-hex}}", //D
        "symbolIcon.keyForeground": "#f0f",
        "symbolIcon.keywordForeground": "#{{base0E-hex}}", //E
        "symbolIcon.methodForeground": "#{{base0D-hex}}", //D
        "symbolIcon.moduleForeground": "#{{base05-hex}}", //5
        "symbolIcon.namespaceForeground": "#{{base05-hex}}", //5
        "symbolIcon.nullForeground": "#{{base0F-hex}}", //F
        "symbolIcon.numberForeground": "#{{base09-hex}}", //9
        "symbolIcon.objectForeground": "#f0f",
        "symbolIcon.operatorForeground": "#f0f",
        "symbolIcon.packageForeground": "#f0f",
        "symbolIcon.propertyForeground": "#{{base05-hex}}", //5
        "symbolIcon.referenceForeground": "#f0f",
        "symbolIcon.snippetForeground": "#{{base05-hex}}", //5
        "symbolIcon.stringForeground": "#{{base0B-hex}}", //B
        "symbolIcon.structForeground": "#{{base0A-hex}}", //A
        "symbolIcon.textForeground": "#{{base05-hex}}", //5
        "symbolIcon.typeParameterForeground": "#f0f",
        "symbolIcon.unitForeground": "#f0f",
        "symbolIcon.variableForeground": "#{{base08-hex}}", //8

        // Debug Icons
        "debugIcon.breakpointForeground": "#{{base08-hex}}", //8
        "debugIcon.breakpointDisabledForeground": "#{{base04-hex}}", //4
        "debugIcon.breakpointUnverifiedForeground": "#{{base02-hex}}", //2
        "debugIcon.breakpointCurrentStackframeForeground": "#{{base0A-hex}}", //A
        "debugIcon.breakpointStackframeForeground": "#{{base0F-hex}}", //F
        "debugIcon.startForeground": "#{{base0B-hex}}", //B
        "debugIcon.pauseForeground": "#{{base0D-hex}}", //D
        "debugIcon.stopForeground": "#{{base08-hex}}", //8
        "debugIcon.disconnectForeground": "#{{base08-hex}}", //8
        "debugIcon.restartForeground": "#{{base0B-hex}}", //B
        "debugIcon.stepOverForeground": "#{{base0D-hex}}", //D
        "debugIcon.stepIntoForeground": "#{{base0C-hex}}", //C
        "debugIcon.stepOutForeground": "#{{base0E-hex}}", //E
        "debugIcon.continueForeground": "#{{base0B-hex}}", //B
        "debugIcon.stepBackForeground": "#{{base0F-hex}}" //F
    },
    "tokenColors": [
        {
            "name": "Comment",
            "scope": [
                "comment",
                "punctuation.definition.comment"
            ],
            "settings": {
                "fontStyle": "italic",
                "foreground": "#{{base03-hex}}" //3
            }
        },
        {
            "name": "Variables, Parameters",
            "scope": [
                "variable",
                "string constant.other.placeholder",
                "entity.name.variable.parameter",
                "entity.name.variable.local",
                "variable.parameter"
            ],
            "settings": {
                "foreground": "#{{base08-hex}}" //8
            }
        },
        {
            "name": "Properties",
            "scope": [
                "variable.other.object.property"
            ],
            "settings": {
                "foreground": "#{{base0D-hex}}" //D
            }
        },
        {
            "name": "Colors",
            "scope": [
                "constant.other.color"
            ],
            "settings": {
                "foreground": "#{{base0B-hex}}" //B
            }
        },
        {
            "name": "Invalid",
            "scope": [
                "invalid",
                "invalid.illegal"
            ],
            "settings": {
                "foreground": "#{{base08-hex}}" //8
            }
        },
        {
            "name": "Invalid - Deprecated",
            "scope": [
                "invalid.deprecated"
            ],
            "settings": {
                "foreground": "#{{base0F-hex}}" //F
            }
        },
        {
            "name": "Keyword, Storage",
            "scope": [
                "keyword",
                "storage.modifier"
            ],
            "settings": {
                "foreground": "#{{base0E-hex}}" //E
            }
        },
        {
            "name": "Keyword Control",
            "scope": [
                "keyword.control",
                "keyword.control.flow",
                "keyword.control.from",
                "keyword.control.import",
                "keyword.control.as"
            ],
            "settings": {
                "foreground": "#{{base0E-hex}}" //E
            }
        },
        {
            "name": "Keyword",
            "scope": [
                "keyword.other.using",
                "keyword.other.namespace",
                "keyword.other.class",
                "keyword.other.new",
                "keyword.other.event",
                "keyword.other.this",
                "keyword.other.await",
                "keyword.other.var",
                "keyword.other.package",
                "keyword.other.import",
                "variable.language.this",
                "storage.type.ts"
            ],
            "settings": {
                "foreground": "#{{base0E-hex}}" //E
            }
        },
        {
            "name": "Types, Primitives",
            "scope": [
                "keyword.type",
                "storage.type.primitive"
            ],
            "settings": {
                "foreground": "#{{base0C-hex}}" //C
            }
        },
        {
            "name": "Function",
            "scope": [
                "storage.type.function"
            ],
            "settings": {
                "foreground": "#{{base0D-hex}}" //D
            }
        },
        {
            "name": "Operator, Misc",
            "scope": [
                "constant.other.color",
                "punctuation",
                "punctuation.section.class.end",
                "meta.tag",
                "punctuation.definition.tag",
                "punctuation.separator.inheritance.php",
                "punctuation.definition.tag.html",
                "punctuation.definition.tag.begin.html",
                "punctuation.definition.tag.end.html",
                "keyword.other.template",
                "keyword.other.substitution"
            ],
            "settings": {
                "foreground": "#{{base05-hex}}" //5
            }
        },
        {
            "name": "Embedded",
            "scope": [
                "punctuation.section.embedded",
                "variable.interpolation"
            ],
            "settings": {
                "foreground": "#{{base0F-hex}}" //F
            }
        },
        {
            "name": "Tag",
            "scope": [
                "entity.name.tag",
                "meta.tag.sgml",
                "markup.deleted.git_gutter"
            ],
            "settings": {
                "foreground": "#{{base08-hex}}" //8
            }
        },
        {
            "name": "Function, Special Method",
            "scope": [
                "entity.name.function",
                "meta.function-call",
                "variable.function",
                "support.function",
                "keyword.other.special-method"
            ],
            "settings": {
                "foreground": "#{{base0D-hex}}" //D
            }
        },
        {
            "name": "Block Level Variables",
            "scope": [
                "meta.block variable.other"
            ],
            "settings": {
                "foreground": "#{{base08-hex}}" //8
            }
        },
        {
            "name": "Other Variable, String Link",
            "scope": [
                "support.other.variable",
                "string.other.link"
            ],
            "settings": {
                "foreground": "#{{base08-hex}}" //8
            }
        },
        {
            "name": "Number, Constant, Function Argument, Tag Attribute, Embedded",
            "scope": [
                "constant.numeric",
                "constant.language",
                "support.constant",
                "constant.character",
                "constant.escape",
                "keyword.other.unit",
                "keyword.other"
            ],
            "settings": {
                "foreground": "#{{base09-hex}}" //9
            }
        },
        {
            "name": "String, Symbols, Inherited Class, Markup Heading",
            "scope": [
                "string",
                "constant.other.symbol",
                "constant.other.key",
                "entity.other.inherited-class",
                "markup.heading",
                "markup.inserted.git_gutter",
                "meta.group.braces.curly constant.other.object.key.js string.unquoted.label.js"
            ],
            "settings": {
                "fontStyle": "",
                "foreground": "#{{base0B-hex}}" //B
            }
        },
        {
            "name": "Class, Support",
            "scope": [
                "entity.name",
                "support.type",
                "support.class",
                "support.other.namespace.use.php",
                "meta.use.php",
                "support.other.namespace.php",
                "markup.changed.git_gutter",
                "support.type.sys-types"
            ],
            "settings": {
                "foreground": "#{{base0A-hex}}" //A
            }
        },
        {
            "name": "Storage Type, Import Class",
            "scope": [
                "storage.type",
                "storage.modifier.package",
                "storage.modifier.import"
            ],
            "settings": {
                "foreground": "#{{base0A-hex}}" //A
            }
        },
        {
            "name": "Fields",
            "scope": [
                "entity.name.variable.field"
            ],
            "settings": {
                "foreground": "#{{base0D-hex}}" //D
            }
        },
        {
            "name": "Entity Types",
            "scope": [
                "support.type"
            ],
            "settings": {
                "foreground": "#{{base0C-hex}}" //C
            }
        },
        {
            "name": "CSS Class and Support",
            "scope": [
                "source.css support.type.property-name",
                "source.sass support.type.property-name",
                "source.scss support.type.property-name",
                "source.less support.type.property-name",
                "source.stylus support.type.property-name",
                "source.postcss support.type.property-name"
            ],
            "settings": {
                "foreground": "#{{base0C-hex}}" //C
            }
        },
        {
            "name": "Sub-methods",
            "scope": [
                "entity.name.module.js",
                "variable.import.parameter.js",
                "variable.other.class.js"
            ],
            "settings": {
                "foreground": "#{{base08-hex}}" //8
            }
        },
        {
            "name": "Language methods",
            "scope": [
                "variable.language"
            ],
            "settings": {
                "fontStyle": "italic",
                "foreground": "#{{base08-hex}}" //8
            }
        },
        {
            "name": "entity.name.method.js",
            "scope": [
                "entity.name.method.js"
            ],
            "settings": {
                "fontStyle": "italic",
                "foreground": "#{{base0D-hex}}" //D
            }
        },
        {
            "name": "meta.method.js",
            "scope": [
                "meta.class-method.js entity.name.function.js",
                "variable.function.constructor"
            ],
            "settings": {
                "foreground": "#{{base0D-hex}}" //D
            }
        },
        {
            "name": "Attributes",
            "scope": [
                "entity.other.attribute-name"
            ],
            "settings": {
                "foreground": "#{{base0D-hex}}" //D
            }
        },
        {
            "name": "HTML Attributes",
            "scope": [
                "text.html.basic entity.other.attribute-name.html",
                "text.html.basic entity.other.attribute-name"
            ],
            "settings": {
                "fontStyle": "italic",
                "foreground": "#{{base0A-hex}}" //A
            }
        },
        {
            "name": "CSS Classes",
            "scope": [
                "entity.other.attribute-name.class"
            ],
            "settings": {
                "foreground": "#{{base0A-hex}}" //A
            }
        },
        {
            "name": "CSS ID's",
            "scope": [
                "source.sass keyword.control"
            ],
            "settings": {
                "foreground": "#{{base0D-hex}}" //D
            }
        },
        {
            "name": "Inserted",
            "scope": [
                "markup.inserted"
            ],
            "settings": {
                "foreground": "#{{base0B-hex}}" //B
            }
        },
        {
            "name": "Deleted",
            "scope": [
                "markup.deleted"
            ],
            "settings": {
                "foreground": "#{{base08-hex}}" //8
            }
        },
        {
            "name": "Changed",
            "scope": [
                "markup.changed"
            ],
            "settings": {
                "foreground": "#{{base0E-hex}}" //E
            }
        },
        {
            "name": "Regular Expressions",
            "scope": [
                "string.regexp"
            ],
            "settings": {
                "foreground": "#{{base0C-hex}}" //C
            }
        },
        {
            "name": "Escape Characters",
            "scope": [
                "constant.character.escape"
            ],
            "settings": {
                "foreground": "#{{base0C-hex}}" //C
            }
        },
        {
            "name": "URL",
            "scope": [
                "*url*",
                "*link*",
                "*uri*"
            ],
            "settings": {
                "fontStyle": "underline"
            }
        },
        {
            "name": "Decorators",
            "scope": [
                "tag.decorator.js entity.name.tag.js",
                "tag.decorator.js punctuation.definition.tag.js"
            ],
            "settings": {
                "fontStyle": "italic",
                "foreground": "#{{base0D-hex}}" // D
            }
        },
        {
            "name": "ES7 Bind Operator",
            "scope": [
                "source.js constant.other.object.key.js string.unquoted.label.js"
            ],
            "settings": {
                "fontStyle": "italic",
                "foreground": "#{{base0E-hex}}" //E
            }
        },
        {
            "name": "JSON Key - Level 0",
            "scope": [
                "source.json meta.structure.dictionary.json support.type.property-name.json"
            ],
            "settings": {
                "foreground": "#{{base0D-hex}}" //D
            }
        },
        {
            "name": "JSON Key - Level 1",
            "scope": [
                "source.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json support.type.property-name.json"
            ],
            "settings": {
                "foreground": "#{{base0D-hex}}" //D
            }
        },
        {
            "name": "JSON Key - Level 2",
            "scope": [
                "source.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json support.type.property-name.json"
            ],
            "settings": {
                "foreground": "#{{base0D-hex}}" //D
            }
        },
        {
            "name": "JSON Key - Level 3",
            "scope": [
                "source.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json support.type.property-name.json"
            ],
            "settings": {
                "foreground": "#{{base0D-hex}}" //D
            }
        },
        {
            "name": "JSON Key - Level 4",
            "scope": [
                "source.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json support.type.property-name.json"
            ],
            "settings": {
                "foreground": "#{{base0D-hex}}" //D
            }
        },
        {
            "name": "JSON Key - Level 5",
            "scope": [
                "source.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json support.type.property-name.json"
            ],
            "settings": {
                "foreground": "#{{base0D-hex}}" //D
            }
        },
        {
            "name": "JSON Key - Level 6",
            "scope": [
                "source.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json support.type.property-name.json"
            ],
            "settings": {
                "foreground": "#{{base0D-hex}}" //D
            }
        },
        {
            "name": "JSON Key - Level 7",
            "scope": [
                "source.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json support.type.property-name.json"
            ],
            "settings": {
                "foreground": "#{{base0D-hex}}" //D
            }
        },
        {
            "name": "JSON Key - Level 8",
            "scope": [
                "source.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json support.type.property-name.json"
            ],
            "settings": {
                "foreground": "#{{base0D-hex}}" //D
            }
        },
        {
            "name": "Markdown - Plain",
            "scope": [
                "text.html.markdown",
                "punctuation.definition.list_item.markdown"
            ],
            "settings": {
                "foreground": "#{{base05-hex}}" //5
            }
        },
        {
            "name": "Markdown - Markup Raw Inline",
            "scope": [
                "text.html.markdown markup.inline.raw.markdown"
            ],
            "settings": {
                "foreground": "#{{base0E-hex}}" //E
            }
        },
        {
            "name": "Markdown - Markup Raw Inline Punctuation",
            "scope": [
                "text.html.markdown markup.inline.raw.markdown punctuation.definition.raw.markdown"
            ],
            "settings": {
                "foreground": "#{{base0C-hex}}" //C
            }
        },
        {
            "name": "Markdown - Line Break",
            "scope": [
                "text.html.markdown meta.dummy.line-break"
            ],
            "settings": {
                "foreground": "#{{base03-hex}}" //3
            }
        },
        {
            "name": "Markdown - Heading",
            "scope": [
                "markdown.heading",
                "markup.heading | markup.heading entity.name",
                "markup.heading.markdown punctuation.definition.heading.markdown"
            ],
            "settings": {
                "foreground": "#{{base0D-hex}}" //D
            }
        },
        {
            "name": "Markup - Italic",
            "scope": [
                "markup.italic"
            ],
            "settings": {
                "fontStyle": "italic",
                "foreground": "#{{base08-hex}}" //8
            }
        },
        {
            "name": "Markup - Bold",
            "scope": [
                "markup.bold",
                "markup.bold string"
            ],
            "settings": {
                "fontStyle": "bold",
                "foreground": "#{{base08-hex}}" //8
            }
        },
        {
            "name": "Markup - Bold-Italic",
            "scope": [
                "markup.bold markup.italic",
                "markup.italic markup.bold",
                "markup.quote markup.bold",
                "markup.bold markup.italic string",
                "markup.italic markup.bold string",
                "markup.quote markup.bold string"
            ],
            "settings": {
                "fontStyle": "bold",
                "foreground": "#{{base08-hex}}" //8
            }
        },
        {
            "name": "Markup - Underline",
            "scope": [
                "markup.underline"
            ],
            "settings": {
                "fontStyle": "underline",
                "foreground": "#{{base09-hex}}" //9
            }
        },
        {
            "name": "Markdown - Blockquote",
            "scope": [
                "markup.quote punctuation.definition.blockquote.markdown"
            ],
            "settings": {
                "foreground": "#{{base0C-hex}}" //C
            }
        },
        {
            "name": "Markup - Quote",
            "scope": [
                "markup.quote"
            ],
            "settings": {
                "fontStyle": "italic"
            }
        },
        {
            "name": "Markdown - Link",
            "scope": [
                "string.other.link.title.markdown"
            ],
            "settings": {
                "foreground": "#{{base0D-hex}}" //D
            }
        },
        {
            "name": "Markdown - Link Description",
            "scope": [
                "string.other.link.description.title.markdown"
            ],
            "settings": {
                "foreground": "#{{base0E-hex}}" //E
            }
        },
        {
            "name": "Markdown - Link Anchor",
            "scope": [
                "constant.other.reference.link.markdown"
            ],
            "settings": {
                "foreground": "#{{base0A-hex}}" //A
            }
        },
        {
            "name": "Markup - Raw Block",
            "scope": [
                "markup.raw.block"
            ],
            "settings": {
                "foreground": "#{{base0E-hex}}" //E
            }
        },
        {
            "name": "Markdown - Raw Block Fenced",
            "scope": [
                "markup.raw.block.fenced.markdown"
            ],
            "settings": {
                "foreground": "#00000050"
            }
        },
        {
            "name": "Markdown - Fenced Bode Block",
            "scope": [
                "punctuation.definition.fenced.markdown"
            ],
            "settings": {
                "foreground": "#00000050"
            }
        },
        {
            "name": "Markdown - Fenced Code Block Variable",
            "scope": [
                "markup.raw.block.fenced.markdown",
                "variable.language.fenced.markdown"
            ],
            "settings": {
                "foreground": "#{{base0E-hex}}" //E
            }
        },
        {
            "name": "Markdown - Fenced Language",
            "scope": [
                "variable.language.fenced.markdown"
            ],
            "settings": {
                "foreground": "#{{base08-hex}}" //8
            }
        },
        {
            "name": "Markdown - Separator",
            "scope": [
                "meta.separator"
            ],
            "settings": {
                "fontStyle": "bold",
                "foreground": "#{{base0C-hex}}" //C
            }
        },
        {
            "name": "Markup - Table",
            "scope": [
                "markup.table"
            ],
            "settings": {
                "foreground": "#{{base0E-hex}}" //E
            }
        },
        {
            "scope": "token.info-token",
            "settings": {
                "foreground": "#{{base0D-hex}}" //D
            }
        },
        {
            "scope": "token.warn-token",
            "settings": {
                "foreground": "#{{base0A-hex}}" //A
            }
        },
        {
            "scope": "token.error-token",
            "settings": {
                "foreground": "#{{base08-hex}}" //8
            }
        },
        {
            "scope": "token.debug-token",
            "settings": {
                "foreground": "#{{base0E-hex}}" //E
            }
        }
    ]
}
